.home-container{
  background-color: #252525;
  height: 100%;
  min-height: 100vh;
}
.standard-card-container{
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-footer{
  position: fixed;
  width: 100%;
  bottom: 0px;
}

@media only screen and (max-width:550px){
  .home-footer{
    display: none;
  }
  .standard-card-container{
    padding-bottom: 0px;
  }
}